body {
	background: white;
	text-align: center;
}
.cardPanel {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
	display: inline-block;
	position: relative;
	width: 12em;
	height: 16em;
	margin: 1%;
}

.card, .discardCard, .back {
	border-radius: 0.5em;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	float: left;
	width: 12em;
	height: 16em;
	position: relative;
	opacity: 0.8;
	z-index: 30; 
	-webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%; 
}

.back {
	position: relative;
	z-index: 0;
	top: 0;
	left: 0;
	float: none;
	margin: 0;
	height: 100%;
	width: 100%;
	border-radius: 0.9rem;
}

.back p {
	font-size: 2.5em;
	text-align: center;
	color: black;
	float: none;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 95%;
	display: table;
	padding: 3%;
	word-wrap: break-word;
}

.discardCard {
	background: lightgray;
	border: 1px dashed gray;
}

.card:hover, .discardCard:hover {
	cursor: pointer;
}

.discardCard:hover {
	cursor: default;
}

.flip {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-179deg);
	transform: rotateY(-179deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#game {
	margin: 0 auto;
	text-align: center;
}

#confirm{
	cursor: pointer;
	display: block;
	margin: 0px auto;
	padding: 5px;
}

.score_headers{
	width: 50%;
	display: table-cell;
	padding: 20px;
	background-color: red;
	color: white;
	text-transform: uppercase;
}

#score_results td{
	display: table-cell;
	padding: 20px;
}

#score_results{
	width: 35em;
	margin: 20px auto;
}

.score_row{
	background-color: #ccc;
}

.score_row:nth-child(odd) {
	background-color: #aaa;
}

#timer{
	font-size: 1.1em;
	color: red;
	padding: 15px;
}

#start{
	padding: 10px;
	border: 0px;
}